@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Raleway:wght@500;600&display=swap');

html {
    height: auto;
}

p {
    margin: 0;
    padding: 0;
}

p, img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

body {
    background: #F9F9F9;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.link-lore {
    text-decoration: none;
    color: #23272A;
}

.wrapper-page-lore {
    /*width: 50%;*/
}

.wrapper-lore {
    overflow-y: scroll;
    max-height: 30vh;
}

.wrapper-lore::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.wrapper-lore::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.wrapper-lore::-webkit-scrollbar-thumb
{
    background-color: #AAA;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(90deg,
    rgba(0, 0, 0, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(0, 0, 0, .2) 50%,
    rgba(0, 0, 0, .2) 75%,
    transparent 75%,
    transparent)
}

.wrapper-banner img {
    color: #23272A;
    margin-bottom: 15px;
    height: auto;
    width: 100%;
}

.wrapper-welcomeMessage {
    font-weight: 500;
    color: #5A5A5A;
    opacity: 1;
    line-height: 21px;
    margin-bottom: 15px;
    color: #23272A;
}

.wrapper-welcomeMessage span {
    font-weight: 600;
}

.wrapper-description {
    letter-spacing: 0.01em;
    color: #99AAB5;
    line-height: 16px;
    margin-bottom: 15px;
    font-style: normal;
}

.wrapper-socialButtons {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.wrapper-description p {
    margin-bottom: 5px;
}

.wrapper-socialButtons button {
    background-color: #23272A;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    padding-bottom: 4px;
}

.wrapper-socialButtons button:hover {
    transition: 0.3s;
    background-color: #4B5257;
    cursor: pointer;
}

.wrapper-socialButtons button:active {
    background-color: #23272A;
} 


@media (min-width: 1281px) {
    body, html {
        height: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .wrapper {
        width: 80%;
        margin: 30px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body, html {
        height: 100%;
    }
    .wrapper {
        width: 80%;
        margin: 30px 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body, html {
        height: 100%;
    }
    .wrapper {
        width: 90%;
        margin: 30px 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .wrapper {
        width: 80%;
        margin: 30px 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    body, html {
        height: auto;
    }
    .wrapper {
        width: 80%;
        margin: 30px 0;
    }
}
